@{
    Layout = "_LayoutMenuLateral";
}

<div class="d-flex justify-content-center">
    <div class="card" style="width: auto;">
        <div class="card-body">
            <img src="/images/ErrorApagar.jpg" alt="Error-409" border="0">
        </div>
    </div>
</div>