@model ControleStarter.DTO.TecnologiaDTO

@{
    Layout = "_LayoutMenuLateral";
}

<div class="d-flex justify-content-center">
    <div class="card" style="width: auto;">
        <div class="card-body">
            <h3>Editar Tecnologia</h3>
            <hr>
            <form class="form-horizontal" asp-controller="Tecnologia" asp-action="Atualizar" method="POST">
                <input type="hidden" asp-for="Id">
                <label asp-for="Nome">Nome da Tecnologia</label>
                <input type="text" class="form-control" asp-for="Nome" placeholder="Nome da Tecnologia">
                <span asp-validation-for="Nome"></span><br> 
                <label asp-for="Descricao">Descrição</label>
                <textarea input type="textarea" class="form-control" asp-for="Descricao" placeholder="Descrição"></textarea>
                <span asp-validation-for="Descricao"></span><br>
                <button class="btn btn-dark">Atualizar</button>
            </form>
        </div>
    </div>
</div>