@page
@model LogoutModel

@{
    Layout = "_LayoutMenuLateral";
}

<div class="d-flex justify-content-center">
    <div class="card" style="width: auto;">
        <div class="card-body">
        <header>
            <h1>@ViewData["Title"]</h1>
            @{
                if (User.Identity.IsAuthenticated)
                {
                    
                    <img src="/images/Atencao.jpg" alt="Atencao" border="0">
                    <hr>
                    <div class="d-flex justify-content-center">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="btn btn-dark">Sair</button>
                    </form>
                    </div>
                }
                else
                {
                    <p>Você saiu do aplicativo com sucesso.</p>
                }
            }
        </header>
        </div>
    </div>
</div>