@{
    Layout = "_LayoutMenuLateral";
}

<div class="d-flex justify-content-center">
    <div class="card" style="width: auto;">
        <div class="card-body">
            <img src="/images/RELATORIOS.jpg" alt="logo-RELATORIOS" width="300" border="0">
        </div>
    </div>
</div> 
<br>
<div class="d-flex justify-content-center">
  <div class="col-sm-2">
    <div class="card" style="width: auto;">
        <img src="/images/Relatorios1.png" alt="computador com relatórios" max-width="100%" max-height="100%" border="0">
      <div class="card-body">
        <p class="card-title">Para gerar uma lista de Starters de acordo com a Turma, clique no botão abaixo.</p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" href="../Relatorio/SelecionaTurma" id="popular-banco">Lista de Starters por Turma</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="width: auto;">
        <img src="/images/Relatorios2.png" alt="relatório amplicado com lupa" max-width="100%" max-height="100%" border="0">
      <div class="card-body">
        <p class="card-title">Para gerar uma lista de avaliaçãos dos projetos por Starter, clique no botão abaixo.</p>
        <div class="d-flex justify-content-center">
          <a class="btn btn-primary" href="../Relatorio/SelecionaStarter" id="popular-banco">Avaliaçãos dos projetos por Starter</a>
        </div>
      </div>
    </div>
  </div>
</div>